*, :after, :before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  --sidenav-width: 284px;
  --sidenav-width-sm: 83px;
  font-family: Manrope,sans-serif!important;
  --sidenav-duration: .3s;
}
body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}